@import "tailwindcss";
@plugin "daisyui"{
   themes: all;
}

/* index.css or App.css */

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animated-gradient-text {
  background: linear-gradient(
    to right,
    #c084fc, /* purple-400 */
    #facc15, /* yellow-400 */
    #c084fc /* purple-400 again for seamless loop */
  );
  background-size: 200% 100%;
  animation: gradientShift 5s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
